.steps {
  padding-left: 0;
  list-style: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1;
  margin: 30px auto;
  border-radius: 3px;
}
.steps li:nth-child(1) {
  background: #407bff96;
}

.steps li:nth-child(2) {
  background: #407bff;
}

.steps strong {
  font-size: 14px;
  display: block;
  line-height: 1.4;
}

.steps > li {
  position: relative;
  display: block;
  /* border: 1px solid #ddd; */
  padding: 14px 50px 8px 50px;
  width: 160px;
  height: 60px;
}

@media (min-width: 768px) {
  .steps > li {
    float: left;
  }
  .steps .past {
    color: #666;
    background: #ececec;
  }
  .steps .present {
    color: #000;
  }
  .steps .future {
    color: #777;
    background: #efefef;
  }

  .steps li > span:after,
  .steps li > span:before {
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0;
    left: 0;
    border: solid transparent;
    border-left-color: #f0f0f0;
    border-width: 30px;
  }

  .steps li > span:after {
    top: -5px;
    z-index: 1;
    border-left-color: white;
    border-width: 34px;
  }

  .steps li > span:before {
    z-index: 2;
  }

  .steps li.past + li > span:before {
    border-left-color: #407bff96;
  }
  .steps li.present + li > span:before {
    border-left-color: #407bff;
  }
  .steps li.future + li > span:before {
    border-left-color: #407bff;
  }

  .steps li:first-child > span:after,
  .steps li:first-child > span:before {
    display: none;
  }

  /* Arrows at start and end */
  .steps li:first-child i,
  .steps li:last-child i {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border: solid transparent;
    border-left-color: white;
    border-width: 30px;
  }

  .steps li:last-child i {
    left: auto;
    right: -30px;
    border-left-color: transparent;
    border-top-color: white;
    border-bottom-color: white;
  }
}
.checkbox-outer {
  position: relative;
  margin-bottom: 30px;
}

.checkboxes {
  list-style: none;
  padding: 0;
}

.checkboxes.inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.checkboxes li {
  margin-right: 20px;
  margin-bottom: 10px;
}

.checkboxes label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  margin-bottom: 0;
  font-size: 15px;
  line-height: 20px;
  color: #696969;
}

.checkboxes label span {
  color: #909090;
}

.checkboxes input[type="checkbox"] {
  display: none;
}

.checkboxes label:before {
  content: "";
  display: inline-block;
  width: 23px;
  height: 23px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  top: 2px;
  background-color: #fff;
  border: 1px solid #d6d6d6;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  font-family: "Font Awesome 5 Free";
  color: #fff;
  font-size: 9px;
  font-weight: 900;
  text-align: center;
  line-height: 17px;
}

.checkboxes input[type="checkbox"]:checked + label:before {
  content: "\f00c";
  background-color: #1967d2;
  border: 1px solid #1967d2;
}

.checkboxes.square label:before {
  border-radius: 2px;
}

.checkboxes.two-column:after {
  display: table;
  clear: both;
  content: "";
}

.checkboxes.two-column li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  float: left;
  margin: 0;
  min-width: 50%;
  padding-right: 10px;
}

.checkbox-outer .view-more {
  position: relative;
}

.checkbox-outer .view-more {
  font-size: 13px;
  line-height: 20px;
  color: #1967d2;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.checkbox-outer .view-more .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  font-weight: 900;
  font-size: 10px;
  border-radius: 50%;
  margin-right: 10px;
  background: rgba(25, 103, 210, 0.15);
}
/*** 
======================
Buttons Styles
======================
***/
.text-btn {
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #407bff;
  color: #407bff;
  width: 35%;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}
.theme-btn {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1;
}
.outline-btn {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1;
}
/* Btn Style One */
.btn-style-one {
  position: relative;
  text-align: center;
  white-space: nowrap;
  color: #ffffff;
  background-color: #2953a4;
  font-size: 15px;
  line-height: 20px;
  border-radius: 8px;
  border: none;
  font-weight: 400;
  padding: 12px 57px 15px 47px;
}
.btn-style-one-outline {
  position: relative;
  text-align: center;
  white-space: nowrap;
  color: #2953a4;
  background-color: transparent;
  border: 2px solid #2953a4;
  font-size: 15px;
  line-height: 20px;
  border-radius: 8px;
  font-weight: 400;
  padding: 12px 55px 15px 45px;
}
.ml-10 {
  margin-left: 11rem;
}

/*=== Default Form ===*/

.default-form {
  position: relative;
}

.default-form .form-group {
  position: relative;
  margin-bottom: 20px;
}

.default-form .form-group:last-child {
  margin-bottom: 0;
}

.default-form .form-group > label {
  font-size: 15px;
  line-height: 20px;
  color: #202124;
  font-weight: 500;
  margin-bottom: 10px;
}

.default-form .form-group input[type="text"],
.default-form .form-group input[type="password"],
.default-form .form-group input[type="number"],
.default-form .form-group input[type="email"],
.default-form .form-group input[type="url"],
.default-form .form-group textarea,
.default-form .form-group select {
  position: relative;
  width: 100%;
  display: block;
  height: 45px;
  line-height: 30px;
  padding: 9px;
  font-size: 15px;
  color: #000;
  background: #f0f5f7;
  border: 1px solid #2953a4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.default-form .form-group input[type="text"]:focus,
.default-form .form-group input[type="email"]:focus,
.default-form .form-group input[type="url"]:focus,
.default-form .form-group select:focus,
.default-form .form-group textarea:focus {
  border-color: #2953a4;
  background: #ffffff;
}

.default-form .form-group textarea {
  height: 160px;
  resize: none;
  padding-top: 15px;
}

.default-form .form-group input[type="submit"],
.default-form .form-group > button {
  position: relative;
  display: inline-block;
  min-width: 160px;
}

.default-form input.error:focus,
.default-form select.error:focus,
.default-form textarea.error:focus {
  border-color: #ff0000;
}

.default-form label.error {
  display: block;
  font-weight: 500;
  font-size: 13px;
  text-transform: capitalize;
  line-height: 24px;
  color: #ff0000;
  margin-bottom: 0;
}

.default-form .form-group > .icon {
  position: absolute;
  right: 20px;
  bottom: 0;
  color: #9fa9b8;
  font-size: 14px;
  line-height: 54px;
}

.default-form .form-group .rating {
  position: relative;
}

.default-form .form-group .rating a {
  position: relative;
  font-size: 13px;
  color: #999999;
}
.default-form .form-group .rating a:hover {
  color: #ffc78b;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"],
.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  line-height: 60px !important;
  min-height: 60px !important;
}

.chosen-container-multi .chosen-choices,
.chosen-container.chosen-with-drop .chosen-drop {
  background: #f0f5f7;
  min-height: 60px;
  line-height: 60px;
  border: 0 !important;
  border-radius: 8px;
}

.chosen-container-single .chosen-single {
  background: #f0f5f7;
  border: 0 !important;
  border-radius: 8px;
}

.chosen-container-single .chosen-search:before {
  display: none;
}

.chosen-container-multi .chosen-choices li.search-choice {
  color: rgba(25, 103, 210, 1);
  font-size: 13px;
  line-height: 25px;
  color: #2953a4;
  padding: 0 25px 0 10px;
  border-radius: 10px;
  background: rgba(25, 103, 210, 0.1);
}

.chosen-container-multi
  .chosen-choices
  li.search-choice
  .search-choice-close:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  top: 3px;
  color: rgba(25, 103, 210, 1);
}

.chosen-container-multi .chosen-choices li.search-choice {
  margin-top: 15px;
}

.chosen-container-single .chosen-search input[type="text"] {
  height: 40px;
  line-height: 20px;
  padding: 10px 20px;
}

.ls-widget {
  position: relative;
  background: #ffffff;
  border-radius: 8px;
  -webkit-box-shadow: 0px 6px 15px rgba(64, 79, 104, 0.05);
  box-shadow: 0px 6px 15px rgba(64, 79, 104, 0.05);
  margin-bottom: 30px;
}

.ls-widget .widget-title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: transparent;
  padding: 20px 30px 30px;
  min-height: 60px;
}

.ls-widget .widget-title h4 {
  position: relative;
  font-size: 18px;
  line-height: 30px;
  color: #1b2032;
  font-weight: 500;
  margin-right: 30px;
  padding: 7px 0;
}

.ls-widget .widget-title h4 .icon {
  position: absolute;
  left: 0;
  top: 0px;
  line-height: 30px;
  color: #9fa9b8;
}

.ls-widget .widget-title .chosen-outer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.widget-title .chosen-single {
  position: relative;
  height: 45px;
  padding: 10px 20px;
  font-size: 14px;
  color: #696969;
  line-height: 25px;
  background: #f0f5f7;
}

.widget-title .chosen-container {
  margin-left: 20px;
}

.widget-title .chosen-container-single .chosen-single div:after {
  color: #696969;
  content: "\f17c";
  font-family: "Flaticon";
  font-size: 10px;
}

.search-box-one {
  position: relative;
}

.search-box-one .form-group {
  position: relative;
  margin-bottom: 0;
}

.search-box-one .form-group input[type="text"],
.search-box-one .form-group input[type="search"] {
  position: relative;
  display: block;
  max-width: 100%;
  width: 330px;
  height: 45px;
  line-height: 25px;
  padding: 5px 20px;
  padding-left: 54px;
  font-size: 15px;
  color: #696969;
  background: #f0f5f7;
  border-radius: 8px;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.search-box-one .form-group input[type="text"]:focus,
.search-box-one .form-group input[type="search"]:focus {
  border-color: #2953a4;
}

.search-box-one .form-group .icon {
  position: absolute;
  left: 0;
  top: 0;
  color: #696969;
  height: 45px;
  width: 54px;
  z-index: 1;
  text-align: center;
  line-height: 45px;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.ls-widget .widget-content {
  position: relative;
  padding: 0px 30px 10px;
}

.ls-widget .widget-content p {
  position: relative;
  font-size: 14px;
  line-height: 26px;
  color: #5c6770;
  font-weight: 400;
  margin-bottom: 26px;
}

/* Notification list */

.notification-list {
  position: relative;
}

.notification-list li {
  position: relative;
  padding: 5px 0;
  padding-left: 47px;
  font-size: 15px;
  line-height: 25px;
  color: #696969;
  font-weight: 400;
  min-height: 35px;
  margin-bottom: 25px;
}

.notification-list li strong {
  font-weight: 500;
  color: #202124;
}

.notification-list li .icon {
  position: absolute;
  left: 0;
  top: 0;
  height: 35px;
  width: 35px;
  background: rgba(25, 103, 210, 0.15);
  color: #2953a4;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  font-size: 16px;
}

.notification-list li .colored {
  color: #2953a4;
}

.notification-list li.success .icon {
  background: rgba(52, 168, 83, 0.15);
  color: rgba(52, 168, 83, 1);
}

.notification-list li.success .colored {
  color: rgba(52, 168, 83, 1);
}

.uploading-outer {
  position: relative;
  width: 100%;
  display: block;
  height: 45px;
  line-height: 30px;
  padding: 9px;
  font-size: 15px;
  color: #919191;
  background: #f0f5f7;
  border: 1px solid #2953a4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.uploading-outer .uploadButton {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.uploadButton .uploadButton-input {
  position: absolute;
  overflow: hidden;
  z-index: -1;
  pointer-events: none;
  height: 0;
  width: 0;
  display: none;
}

.uploadButton .uploadButton-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  cursor: pointer;
  height: 45px;
  width: 50px;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  left: 47%;
  margin-top: -10px;
  color: #1b2032;
  font-size: 16px;
  background-color: #2953a4;
  border: 1px solid #2953a4;
}
@media (max-width: 767px) {
  .uploadButton .uploadButton-button {
    left: 46.5%;
  }
}
@media (max-width: 980px) {
  .uploadButton .uploadButton-button {
    left: 50%;
  }
}
.uploadButton .uploadButton-button:hover {
  border-color: #021f4a;
}

.uploadButton .uploadButton-file-name {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  min-height: 36px;
  top: -8px;
  position: relative;
  left: -350px;
  color: #1b2032;
}

.uploadButton .uploadButton-button:before {
  font-family: "Flaticon";
  content: "\f109";
  color: #fff;
  font-size: 20px;
  position: relative;
  top: 15px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.widget-content .default-form .form-group {
  margin-bottom: 30px;
}

.widget-content .default-form textarea {
  min-height: 280px;
  padding: 30px;
}
