ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

/*** 

====================================================================
Content Elements
====================================================================



/*======================
Switches 
=======================*/

.switchbox-outer {
  position: relative;
}

.switchbox-outer h4 {
  font-size: 16px;
  line-height: 1em;
  color: #1b2032;
  font-weight: 700;
  margin-bottom: 15px;
}

.switchbox {
  position: relative;
}

.switchbox li {
  position: relative;
  margin-bottom: 20px;
}

.switchbox .title {
  position: relative;
  margin-left: 10px;
  font-size: 15px;
  color: #5c6770;
  line-height: 20px;
}

.switch {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 20px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 3px;
  background-color: #d2d3d8;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #1967d2;
  border: 2px solid #1967d2;
}

input:checked + .slider:before {
  background: #ffffff;
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/***

====================================================================
Listing Section  (Ls Section) 
====================================================================

***/

.ls-section {
  position: relative;
  padding: 50px 0 100px;
}

.ls-section .content-column .upper-box {
  position: relative;
  padding: 20px 30px;
}

.ls-section .filters-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 1000%;
  background: #1b2032;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.active-filters .ls-section .filters-backdrop {
  opacity: 0.8;
  visibility: visible;
}

.ls-section .filters-column.hide-left {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh !important;
  max-width: 320px;
  width: 100%;
  padding: 0 !important;
  background: #fff;
  z-index: 99;
  overflow-y: auto !important;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.ls-section .filters-column.hide-left .inner-column {
  min-height: 100%;
}

.ls-section .filters-column::-webkit-scrollbar {
  width: 5px;
}
.ls-section .filters-column::-webkit-scrollbar-track {
  background: transparent;
}
.ls-section .filters-column::-webkit-scrollbar-thumb {
  background-color: rgba(112, 112, 112, 0.5);
  border-radius: 10px;
}

.ls-section .filters-column.hide-left .filters-outer {
  margin-bottom: 0;
}

.active-filters .ls-section .filters-column.hide-left {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.ls-section .toggle-filters {
  position: relative;
  display: none;
}

.ls-section .toggle-filters .icon {
  display: inline-block;
  height: 10px;
  width: 14px;
  background-image: url(../images/icons/filter.svg);
}

.ls-section .toggle-filters.show {
  display: block;
}

.ls-section .sort-by.show-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.ls-section .sort-by.show-filters .chosen-select {
  width: auto;
}

.ls-section .show-filters .toggle-filters {
  position: relative;
  font-size: 14px;
  line-height: 25px;
  padding: 10px 30px;
  border-radius: 8px;
  color: #1967d2;
  background: rgba(25, 103, 210, 0.07);
  white-space: nowrap;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.ls-section .show-filters .toggle-filters span {
  margin-right: 10px;
}

.ls-section .filters-column .inner-column.pd-right {
  padding-right: 20px;
}
.bg-purple {
  background: #2953a4;
}

.ls-section .filters-outer {
  position: relative;
  background: #fff;
  border-radius: 8px;
  margin-bottom: 30px;
  padding: 30px 30px 125px;
}

.ls-section .close-filters {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 25px;
  min-width: auto;
  height: 25px;
  border: 1px solid #333;
  border-radius: 50%;
  color: #000;
  line-height: 25px;
  font-size: 12px;
  z-index: 99;
  display: none;
}

.ls-section .filter-block {
  position: relative;
  margin-bottom: 30px;
}

.ls-section h4 {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #202124;
  margin-bottom: 16px;
}

.ls-section .filter-block p {
  position: relative;
  font-size: 14px;
  line-height: 19px;
  color: #696969;
  margin-top: 10px;
  margin-bottom: 5px;
}

.ls-section .filter-block .form-group {
  position: relative;
  margin-bottom: 0;
}

.chosen-container .chosen-drop {
  border: 1px solid #ebebeb;
}

.ls-section .filter-block .chosen-container .chosen-drop {
  background: #ffffff;
}

.ls-section .filter-block .chosen-container .chosen-single,
.ls-section .filter-block input,
.ls-section .filter-block select,
.ls-section .filter-block textarea {
  width: 100%;
  height: 60px;
  padding: 14px 20px;
  padding-left: 54px;
  line-height: 30px;
  font-size: 15px;
  color: #696969;
  background: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.ls-section .filter-block input:focus {
  border-color: #1967d2;
}

.ls-section .filter-block .icon {
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -15px;
  font-size: 16px;
  line-height: 30px;
}

.ls-section .switchbox-outer {
  position: relative;
  margin-bottom: 30px;
}

/* Range Slider widget */

.rangeslider-widget {
  position: relative;
}

.range-slider-one {
  position: relative;
  min-height: 48px;
  padding-top: 10px;
}

.range-slider-one .ui-widget.ui-widget-content {
  height: 5px;
  border: none;
  margin-bottom: 20px;
  border-radius: 30px;
  background: #d4e1f6;
}

.range-slider-one .ui-slider .ui-slider-range {
  top: 0px;
  height: 5px;
  background: #1967d2;
}
.filter-top-header {
  background: #2953a4;
  margin-bottom: 10px;
  padding: 8px 10px 1px 20px;
  border-radius: 8px;
  color: #fff;
}
.range-slider-one .ui-state-default,
.range-slider-one .ui-widget-content .ui-state-default {
  position: absolute;
  top: 3px;
  width: 17px;
  height: 17px;
  background: #ffffff;
  border: 2px solid #1967d2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 20px;
  cursor: pointer;
}

.range-slider-one .input-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.range-slider-one .amount-outer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 70px;
  padding: 0 10px;
  height: 30px;
  text-align: center;
  background: #d4e1f6;
  border-radius: 8px;
  font-size: 14px;
  line-height: 19px;
  color: #1967d2;
}

.range-slider-one .amount {
  margin-right: 5px;
}

.range-slider-one .ui-state-default:last-child {
  display: block !important;
}

.range-slider-one.salary-range .ui-state-default {
  display: block !important;
}

/* Range Slider widget */

.tags-style-one {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.tags-style-one li {
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
}

.tags-style-one li a {
  position: relative;
  background: #ffffff;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  color: #696969;
  padding: 5px 20px;
}

.tags-style-one li a:hover {
  background: #d4e1f6;
  color: #1967d2;
}

.ls-section .call-to-action .image-column {
  background-size: 100%;
  width: 50%;
}

/*=====================
Ls Outer
======================*/

.ls-section .ls-outer {
  position: relative;
}

.ls-switcher {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.ls-switcher .showing-result {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
}

.ls-switcher .showing-result .text {
  font-size: 16px;
  color: #1b2032;
}

.ls-switcher .arrange {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
}

.ls-switcher .arrange a {
  margin-right: 10px;
}

.ls-switcher .arrange .icon {
  position: relative;
  display: block;
  height: 40px;
  width: 40px;
  border: 2px solid #d7dbe4;
  border-radius: 50%;
  line-height: 36px;
  text-align: center;
  color: #a3acc2;
  font-size: 16px;
}

.ls-switcher .arrange .active .icon {
  color: #a3acc2;
  border-color: #a3acc2;
}

.top-filters {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.top-filters .form-group {
  position: relative;
  margin-right: 20px;
  margin-bottom: 0;
}

.top-filters .chosen-container .chosen-single {
  position: relative;
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 25px;
  padding: 10px 22px;
  padding-right: 44px;
  color: #1967d2;
  background: rgba(25, 103, 210, 0.07);
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.top-filters .chosen-container-single .chosen-single div:after {
  color: #1967d2;
  content: "\f17c";
  font-family: "Flaticon";
  font-size: 10px;
}

.top-filters .chosen-container .chosen-single span {
  color: #1967d2;
  margin: 0;
  min-width: auto;
}

.top-filters .chosen-container .chosen-container-multi .chosen-choices,
.top-filters .chosen-container.chosen-with-drop .chosen-drop {
  background: #eff4fc;
}

.ls-switcher .sort-by {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
}

.ls-switcher .sort-by .chosen-single {
  position: relative;
  height: 45px;
  padding: 10px 20px;
  font-size: 14px;
  color: #696969;
  line-height: 25px;
  background: #f0f5f7;
}

.ls-switcher .sort-by .chosen-container {
  margin-left: 10px;
}

.ls-switcher .sort-by .chosen-container-single .chosen-single div:after {
  color: #696969;
  content: "\f17c";
  font-family: "Flaticon";
  font-size: 10px;
}

.ls-switcher .showing-result {
  position: relative;
}

.ls-switcher .showing-result .text {
  position: relative;
  font-size: 15px;
  line-height: 20px;
  color: #696969;
}

.ls-switcher .showing-result .text strong {
  font-weight: 500;
  color: #202124;
}
.search-submit {
  background: #fff;
}

/*==========================
Accordian Box
===========================*/

.accordion-box {
  position: relative;
  margin-bottom: 30px;
}

.accordion-box .block {
  position: relative;
  margin-bottom: 20px;
  background: #ebebeb;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.accordion-box .block .acc-btn {
  position: relative;
  font-size: 16px;
  padding: 17px 30px;
  line-height: 30px;
  color: #202124;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.accordion-box .block.active-block {
  -webkit-box-shadow: 0px 6px 15px rgba(64, 79, 104, 0.05);
  box-shadow: 0px 6px 15px rgba(64, 79, 104, 0.05);
}

.accordion-box .block .acc-btn .icon {
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  width: 50px;
  line-height: 70px;
  text-align: center;
  color: #2f2d51;
  font-size: 15px;
  font-weight: 700;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.accordion-box .block .acc-btn.active .icon:before {
  content: "\f077";
}

.accordion-box .block .acc-content {
  position: relative;
  display: none;
}

.accordion-box .block .acc-content.current {
  display: block;
}

.accordion-box .block .content {
  position: relative;
  padding: 24px 30px 26px;
  border-top: 1px solid #ebebeb;
}

.accordion-box .block .content p {
  position: relative;
  font-size: 15px;
  line-height: 24px;
  color: #696969;
  font-weight: 400;
  margin-bottom: 24px;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.accordion-box .block .content p:last-child {
  margin-bottom: 0;
}
/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  top: 30px;
  width: 500px;
  height: 60%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

/*Right*/
.modal.right.fade .modal-dialog {
  right: 10px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}
.modal-body {
  margin-top: -80px;
}
.modal.right.fade.in .modal-dialog {
  right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
  border-radius: 0;
  border: none;
}

.modal-header {
  border-bottom-color: #eeeeee;
  background-color: #fafafa;
}

.login-root {
  background: #fff;
  display: flex;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
.loginbackground {
  min-height: 692px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 0;
  overflow: hidden;
}
.flex-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.center-center {
  align-items: center;
  justify-content: center;
}
.box-root {
  box-sizing: border-box;
}
.flex-direction--column {
  -ms-flex-direction: column;
  flex-direction: column;
}
.loginbackground-gridContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [start] 1fr [left-gutter] (86.6px) [16] [left-gutter] 1fr
    [end];
  grid-template-columns: [start] 1fr [left-gutter] repeat(16, 86.6px) [left-gutter] 1fr [end];
  -ms-grid-rows: [top] 1fr [top-gutter] (64px) [8] [bottom-gutter] 1fr [bottom];
  grid-template-rows: [top] 1fr [top-gutter] repeat(8, 64px) [bottom-gutter] 1fr [bottom];
  justify-content: center;
  margin: 0 -2%;
  transform: rotate(-12deg) skew(-12deg);
}
.box-divider--light-all-2 {
  box-shadow: inset 0 0 0 2px #e3e8ee;
}
.box-background--blue {
  background-color: #5469d4;
}
.box-background--white {
  background-color: #ffffff;
}
.box-background--blue800 {
  background-color: #212d63;
}
.box-background--gray100 {
  background-color: #e3e8ee;
}
.box-background--cyan200 {
  background-color: #7fd3ed;
}
.padding-top--64 {
  padding-top: 64px;
}
.padding-top--24 {
  padding-top: 24px;
}
.padding-top--48 {
  padding-top: 48px;
}
.padding-bottom--24 {
  padding-bottom: 24px;
}
.padding-horizontal--48 {
  padding: 48px;
}
.padding-bottom--15 {
  padding: 8px 16px;
  background: #2953a4;
  color: #fff;
  margin-top: 14px;
  font-size: 17px;
  border-radius: 4px;
}

.flex-justifyContent--center {
  -ms-flex-pack: center;
  justify-content: center;
}
@media only screen and (max-width: 992px) {
  .modal-content {
    width: 100%;
  }
}

.formbg {
  width: 100%;
}
span {
  display: block;
  font-size: 20px;
  line-height: 28px;
  color: #1a1f36;
}
label {
  margin-bottom: 10px;
}
.reset-pass a,
label {
  font-size: 14px;
  font-weight: 600;
  display: block;
}
.reset-pass > a {
  text-align: right;
  margin-bottom: 10px;
}
.grid--50-50 {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.field input {
  font-size: 16px;
  line-height: 28px;
  padding: 8px 16px;
  width: 100%;
  min-height: 44px;
  border: 1px solid #212d63;
  border-radius: 4px;

  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

input[type="submit"] {
  background-color: transparent;
  border: 2px solid #2953a4;
  color: #2953a4;
  font-weight: 600;
  cursor: pointer;
}
.field-checkbox input {
  width: 20px;
  height: 15px;
  margin-right: 5px;
  box-shadow: unset;
  min-height: unset;
}
.field-checkbox label {
  display: flex;
  align-items: center;
  margin: 0;
}
a.ssolink {
  display: block;
  text-align: center;
  font-weight: 600;
}
.footer-link span {
  font-size: 14px;
  text-align: center;
}
.listing a {
  color: #697386;
  font-weight: 600;
  margin: 0 10px;
}

.animationRightLeft {
  animation: animationRightLeft 2s ease-in-out infinite;
}
.animationLeftRight {
  animation: animationLeftRight 2s ease-in-out infinite;
}
.tans3s {
  animation: animationLeftRight 3s ease-in-out infinite;
}
.tans4s {
  animation: animationLeftRight 4s ease-in-out infinite;
}

@keyframes animationLeftRight {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes animationRightLeft {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(0px);
  }
}
