/*****************************/
/* Top Line */
/*****************************/

.tabs-style-topline {
  max-width: 1200px;
}

.tabs-style-topline nav li:not(:last-child) {
  border-right: none;
}

.tabs-style-topline nav li.tab-current {
  border-bottom-color: #2953a4;
  border-bottom: 3px solid #2953a4;
}

.tabs-style-topline nav a {
  padding: 0.4em 0 0.2em;
  background: #fff;
  color: #2953a4;
  line-height: 1;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.tabs-style-topline nav a:hover,
.tabs-style-topline nav a:focus {
  color: #2953a4;
  text-decoration: none;
}

.tabs-style-topline nav li.tab-current a {
  background: none;
  color: #2953a4;
}

.tabs-style-topline .icon::before {
  display: block;
  margin: 0;
}

.tabs-style-topline nav a span {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 0.5em;
}
.tabs-style-topline ul img {
  height: 50px;
  margin-top: 3px;
}

/*****************************/
/* Moving Line */
/*****************************/
.main-content {
  padding-top: 100px;
  padding-bottom: 100px;
}

.box {
  margin-bottom: 25px;
  border-radius: 5px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.16);
  display: flex;
}

.box--primary {
  background: #007bff;
  color: #fff;
}

.box--success {
  background: #4caf50;
  color: #fff;
}

.box--warning {
  background: #ff9800;
  color: #fff;
}

.helper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 230px;
  left: -20px;
}
@media (max-width: 900px) {
}

@media (max-width: 767px) {
  .helper {
    flex-wrap: wrap;
  }
}

.helper__content {
  padding: 10px;
}

@media (min-width: 768px) {
  .helper__content {
    margin-left: 225px;
  }
}

@media (max-width: 767px) {
  .helper__content {
    margin-bottom: 155px;
  }
}

.helper__img img {
  width: 150px;
  max-height: 150px;
  object-fit: contain;
  position: absolute;
  right: 0;
  bottom: 50px;
  left: 45px;
}
