.one {
  /* background-color: #ffcfdf;
  background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%); */
  padding: 10px 0;
  position: relative;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

@keyframes mapMover {
  0% {
    opacity: 0.05;
    transform: translateY(-50%) translateX(0);
  }
  50% {
    opacity: 0.2;
    transform: translateY(-55%) translateX(-20px);
  }
  100% {
    opacity: 0.05;
    transform: translateY(-50%) translateX(0);
  }
}

.block-title {
  margin-top: 35px;
  margin-bottom: 60px;
}

.first p {
  margin: 0;
  color: #777b92;
  font-size: 24px;
  line-height: 46px;
}

.first h3 {
  color: #273167;
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  margin-top: 40px;
}

.first .bx-wrapper {
  border: none;
  box-shadow: none;
  background-color: transparent;
  margin-bottom: 0;
}

.first .bx-wrapper ul.slider {
  padding: 0;
  margin: 0;
}
/* 
#testimonials-slider-pager {
  width: 391px;
  height: 391px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(39, 49, 103, 0.15);
  border-radius: 50%;
  position: relative;
  animation-name: tesiMove;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transition: all 0.4s ease;
  transform-origin: center center;
} */

@keyframes tesiMove {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(2deg);
  }
  33% {
    transform: rotate(4deg);
  }
  66% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.pager-one {
  padding-bottom: 30px;
}
.pager-one .pager-item {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 60px;
  border: 4px solid #e0e0e0;
  border-radius: 50%;
}

.pager-item:nth-child(1) {
}

.pager-item:nth-child(2) {
  position: relative;
  top: 100px;
}

#testimonials-slider-pager .pager-one .pager-item:nth-child(3) {
}
#testimonials-slider-pager .pager-one .pager-item:nth-child(4) {
  position: relative;
  top: 50px;
}
#testimonials-slider-pager .pager-one .pager-item:nth-child(5) {
}

#testimonials-slider-pager .pager-one .pager-item:nth-child(6) {
  position: relative;
  top: 50px;
}

#testimonials-slider-pager .pager-one .pager-item > img {
  width: 100%;
  border-radius: 50%;
  transition: all 0.4s ease;
}

#testimonials-slider-pager .pager-one .pager-item.active img .owl-item.active {
  border: 4px solid #3b71e8;
  border-radius: 50%;
}

.pager-two {
  margin-left: 50px;
  margin-top: 30px;

  border-radius: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 20px 40px 40px 40px;
}

#testimonials-slider-pager .pager-two .pager-item.active {
  opacity: 1;
  transform: translate(-50%, -50%) scale(0.95);
}

.bx-controls-direction {
  position: relative;
  font-size: 20px;
  top: 5px;
}

a.bx-next {
  margin-left: 10px;
  text-decoration: none;
  color: gray;
  cursor: pointer;
  margin-top: 30px;
}

a.bx-prev {
  cursor: pointer;
  text-decoration: none;
  color: gray;
  margin-top: 30px;
}
